.detalhe {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imagem-principal {
    margin-right: 130px;
    float: right;
    position: relative;
    background-color: transparent;
}

.imagem-principal img {
    background-color: transparent;
}