nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 100px;
    margin-left: 100px;
}

.logo img {
    margin-top: 40px;
    width: 100%;
}

.search-container {
    z-index: 1;
    display: flex;
    align-items: center;
    border: 1px solid #fff; 
    border-radius: 4px;
    padding: 20px; 
    background-color: transparent;
    width: 30%;
    height: 60px;
    margin-top: 40px;
    margin-right: 120px;
}

.search-container label {
    background-color: transparent;  
}

.search-container img {
    margin-right: 10px;
    background-color: transparent;  
}

.search-container input.search-bar {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
    background-color: transparent;
}

.search-container input.search-bar::placeholder {
    color: #fff; 
    font-family: "chubby cheeks";
    font-size: 20px;
}

