.imagem {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 41px 140px;
}

.conteudoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagemInicio {
    z-index: 1;
    background-color: transparent;
}

.cards{
    display: flex;
    justify-content: center;
    margin: 0 140px 64px;
    gap: 20px;

    .card {
        width: 33.33%;
    }
}

.stepper {
    flex-basis: 50rem;
    font-family: "Azo Sans";
    margin: 0 140px;
    padding: 40px 0;

    ul {
        padding: 0;
    }

    button {
        background-color: transparent;
    }
}

.panel {
    
}

@media (max-width: 1280px) {
    .imagemInicio {
      width: 40%; 
    }

    .conteudoText h3{
        width: 80%;
    }
}

@media (max-width: 980px) {
    .imagemInicio {
       display: none; 
    }

    .conteudoText h3{
       width: 100%; 
    }
}

@media (max-width: 690px) {
    .conteudo{
       margin: 41px 50px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        margin: 0 50px 64px;

        .card {
            width: 100%;
        }
    }
}

