.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 31px;
}

.conteudoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagemInicio {
    z-index: 1;
    background-color: transparent;
}

.cards{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;

    .card {
        width: 33.33%;
    }
}

.stepper {
    flex-basis: 50rem;
    font-family: "Azo Sans";
    padding: 40px 0;
    margin: 0 20px;

    ul {
        padding: 0;
    }

    [class~="p-stepper-action"] {
        background-color: transparent !important;
    }

    [class~='p-stepper-number'] {
        color: #000;
    }
    
    [class~="p-stepper-panels"] {
        background: transparent;
        border: 3px solid #e5e7eb;
        border-radius: 16px;

        button {
            background: #ff9408 !important;
            border: solid #ff9408;
            border-radius: 16px;            
        }
    }

    [class~='p-button-label'] {
        color: #000;
    }

    [class~='p-button-icon'] {
        color: #000;
    }    
}

.btnRight, .btnBetween {
    display: flex;
}

.btnRight {
    justify-content: end;
    padding: 10px 10px;
    width: 100%;
}

.btnBetween {
    justify-content: space-between;
    padding: 10px 10px;
}

.subConteudo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}   

.divCuriosidades {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
}

[class~='card'] {
    margin: 20px 40px;
}

[class~='p-accordion-tab'] {
    background-color: #FFF8F4;
    border: 2px solid #fff;

    [class~='p-accordion-header-link'] {
        color: #A80003;
    }

    h5 {
        padding: 20px;
    }

    p {
        padding: 0 20px;
    }

    img {
        width: 25%;
        padding: 20px;
    }
}

.imgScratch {
    width: 70% !important;
}

.imgVariavel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;

    .scratch {
        width: 30% !important;
    }

    .resultadoVariavelScratch {
        width: 70% !important;
    }
}

iframe {
    display: flex;
    margin: 0 auto;
}

.scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #525FE1;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .scrollButton:hover {
    background-color: #525FE1;
  }
  
  .scrollButton span {
    font-size: 24px;
  }

/** RESPONSIVIDADE **/

@media (min-width: 1780px) {
    [class~='p-accordion-tab'] {
        [class~='p-accordion-header-link'] {
            font-size: 24px;
        }

        h5 {
            font-size: 30px;
        }
    
        p {
            font-size: 25px;
        }
    }
}

@media (max-width: 1280px) {
    .imagemInicio {
      width: 40%; 
    }

    .conteudoText h3{
        width: 80%;
    }
}

@media (max-width: 980px) {
    .imagemInicio {
       display: none; 
    }

    .conteudoText h3{
       width: 100%; 
    }
}

@media (max-width: 690px) {
    .conteudo{
       margin: 41px 50px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        margin: 0 50px 64px;

        .card {
            width: 100%;
        }
    }

    [class~='p-button-label'] {
        display: none !important;
    }
  
    .dicas {
        margin: 0 20px;

        h3 {
            font-size: 20px;
        }
    }

    .subConteudo {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 380px;
    }
}

