[class~='p-carousel-content'] {
    /* background: #1D1534; */
    background-image: url("../../img/carousel1.svg");
    padding: 0 140px;
    display: flex;
    justify-items: center;
    background-size: cover;
    min-height: 100vh;
}

[class~='p-link'] {
    color: #FF9408;
}

[class~='p-highlight'] button {
    background-color: #FF9408 !important;
}

.curiosidadesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    
    h1 {
        text-align: center;
        color: #FF9408;
        padding-bottom: 50px;
    }

    h2 {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        font-family: "Azo Sans";
    }
    
    p {
        color: #fff;
    }
    
    .curiosidades {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .conteudoCuriosidade {
        width: 50%;
    }

    .imgCuriosidade {
        width: 50%;

        img {
            border-radius: 16px;
            margin: 20px;
            width: 550px;
        }
    }
}

  
@media (min-width: 2500px) {    
    [class~='p-link'] svg{
        width: 40px;
        height: 40px;
    }
    
    .curiosidadesContainer {        
        h1 {
            font-size: 70px;
        }

        h2 {
            font-size: 40px;
        } 
        
        p {
            font-size: 28px;
        }

        .imgCuriosidade {
            img {
                width: 1000px;
            }
        }
    }  
}

@media (min-width: 1770px) and (max-width: 2499px) {
    [class~='p-link'] svg{
        width: 30px;
        height: 30px;
    }

    .curiosidadesContainer {        
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 35px;
        } 
        
        p {
            font-size: 24px;
        }

        .imgCuriosidade {
            img {
                width: 680px;
            }
        }
    }  
}

@media (max-width: 1480px) {
    .curiosidadesContainer {
        h2 {
            font-size: 30px;
        }
        
        p {
            font-size: 16px;
        }

        .imgCuriosidade {
            img {
                width: 400px;
            }
        }
    }
}

@media (max-width: 1180px) {
    .curiosidadesContainer {
        margin-top: 250px;

        .curiosidades {
            flex-direction: column;
            justify-items: center;
            align-items: center;
            width: 100%;
        }

        h2 {
            font-size: 25px;
        } 
        
        p {
            font-size: 14px;
        }

        .conteudoCuriosidade {
            width: 100%;
        }

        .imgCuriosidade {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 690px) {
    [class~='p-carousel-content'] {
        padding: 200px 50px;
    }

    .curiosidadesContainer {
        h2 {
            font-size: 20px;
        } 
        
        p {
            font-size: 12px;
        }

        .conteudoCuriosidade {
            width: 100%;
        }

        .imgCuriosidade {
            img {
                display: none;
            }
        }
    }
}



