.dicas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        text-align: center;
        font-size: 30px;
    }
}

@media (min-width: 1780px) {
    .dicas {
        h3 {
            font-size: 45px;
        }
    }
}

@media (max-width: 690px) {
    .dicas {
        margin: 0 20px;

        h3 {
            font-size: 20px;
        }
    }
}