.introducao {
    display: flex;
    margin: 0 20px;

    flex-direction: column;
    justify-content: center;

    .titulo {
        text-align: center;
        color: var(--cor-titulo);
        margin: 48px 0;
    }

    h3 {
        font-family: "Azo Sans";
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 1780px) {
    .introducao {
        .titulo {
            font-size: 70px;
        }

        h3 {
            font-size: 26px;
        }
    }
}

@media (max-width: 690px) {
    .introducao {
        margin: 0 20px;

        .titulo {
            margin: 24px 0;
        }

        h3 {
            font-size: 13px;
        }
    }
}