.nav {
    display: flex;
    justify-content: space-between;
    height: 115px;
    padding: 31px 140px;
}

.logo {
    width: 150px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.searchContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    border: 1px solid #fff; 
    border-radius: 4px;
    padding: 20px; 
    background-color: transparent;
    width: 456px;
    height: 53px;
}

.searchContainer label {
    background-color: transparent;  
}

.searchContainer img {
    margin-right: 10px;
    background-color: transparent;  
}

.searchContainer input.searchBar {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
    background-color: transparent;
}

.searchContainer input.searchBar::placeholder {
    color: #fff; 
    font-family: "chubby cheeks";
    font-size: 20px;
}

