.subConteudo {
    margin: 0 30px;
    padding: 20px 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .titulo {
        color: #FF484A;
        margin: 24px 0;
    }

    p {
        font-size: 16px;
        text-align: justify;
    }

    h2 {
        font-size: 30px;
    }

    img {
        width: 400px;
        align-self: center;
    }
}

@media (min-width: 1780px) {
    .subConteudo {
        .titulo {
            font-size: 60px;
        }
        p {
            font-size: 25px;
        }

        img {
            width: 800px;
        }
    }
}


@media (max-width: 1280px) {
    .subConteudo {
        p {
            font-size: 14px;
        }

        img {
            width: 250px;
        }
    }

}


