[class~='card'] {
    margin: 20px 40px;
}

[class~='p-accordion-tab'] {
    background-color: #FFF8F4;
    border: 2px solid #fff;

    [class~='p-accordion-header-link'] {
        color: #A80003;
    }

    h5 {
        padding: 20px;
    }

    p {
        padding: 0 20px;
    }

    img {
        width: 25%;
        padding: 20px;
    }
}

.imgScratch {
    width: 50% !important;
}

.imgVariavel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 50%;

    .scratch {
        width: 30% !important;
    }

    .resultadoVariavelScratch {
        width: 70% !important;
    }
}

/** RESPONSIVIDADE **/

@media (min-width: 1780px) {
    [class~='p-accordion-tab'] {
        [class~='p-accordion-header-link'] {
            font-size: 24px;
        }

        h5 {
            font-size: 30px;
        }
    
        p {
            font-size: 25px;
        }
    }
}