.card {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card h2 {
    margin: 0 0 10px;
    color: var(--cor-titulo);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    text-align: center;
    padding: 0 20px;
    margin: 20px 0 0;
}

@media (max-width: 980px) {
    .card img{
       width: 120px;
       height: 120px; 
       
       p {
           font-size: 12px;
       }
    }
}
